@import '../../bower_components/normalize-scss/normalize';

body{
    background: #F5F5F5;
}

.main{

    width: 80%;
    margin: auto;

    .content{
        width: 75%;
        display: inline-block;
    }
    .menu{
        width: 25%;
        display: inline-block;
    }

}

