<!DOCTYPE html>
<html>
  <head>
    <!-- @if NODE_ENV="production" -->
    <link href="css/core.min.css" rel="stylesheet" />
	<!-- @endif -->

    <!-- @if NODE_ENV="development" -->
    <link href="css/core.css" rel="stylesheet" />
	<!-- @endif -->
  </head>
  <body>

    <div ng-app="coreApp">
      <ui-view></ui-view>
    </div>

	<!-- @foreach $SCRIPT in SCRIPT_FILES -->
    <script src="$SCRIPT"></script>
	<!-- @endfor -->

    <!-- @if NODE_ENV="production" -->
    <script src="js/core.min.js"></script>
	<!-- @endif -->
    <!-- @if NODE_ENV="development" -->
    <script src="js/core.js"></script>
	<!-- @endif -->
  </body>
</html>
