<!DOCTYPE html>
<html>
  <head>
    <link href="css/core.min.css" rel="stylesheet" />
  </head>
  <body>

    <core-app ng-app="coreApp">
      <ui-view></ui-view>
    </core-app>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
    <script src="js/core.min.js"></script>
  </body>
</html>
