<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- @if NODE_ENV="production" -->
    <link href="css/core.min.css" rel="stylesheet" />
	<!-- @endif -->

    <!-- @if NODE_ENV="development" -->
    <link href="css/core.css" rel="stylesheet" />
	<!-- @endif -->
  </head>
  <body>

    <div ng-app="coreApp">
      <ui-view></ui-view>
    </div>

	<!-- @foreach $SCRIPT in SCRIPT_FILES -->
    <script src="$SCRIPT"></script>
	<!-- @endfor -->

    <!-- @if NODE_ENV="production" -->
    <script src="js/core.min.js"></script>
	<!-- @endif -->
    <!-- @if NODE_ENV="development" -->
    <script src="js/core.js"></script>
	<!-- @endif -->
  </body>
</html>
